
body {
    background: #ddd;
}

a {
    color: #000;
    color: rgb(153, 41, 0);
    text-decoration: none;
}

header {
    text-align: center;
}

header ul {
    padding: 0;
}

header ul li {
    display: inline;
    list-style:none;
}

@media only screen and (min-width:480px) {
    .sketch h3 {
	font-size: 3em;
    }

    .sketch {
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
    }
}

@media only screen and (min-width:1025px) {
    section.sketches {
	display: flex;
	flex-direction: row;
    }

    .sketch {
	flex: 30%;
	margin-right: 3em;
    }
}

.sketch img {
    width: 100%;
}

footer {
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px black solid;
}

footer img {
    float: right;
    padding-left: 2em;
    padding-bottom: 1em;
}
